body.framework7-root,html{
    font-size: 62.5% !important;
}


.SHJ_text_align_center{
    text-align: center;
}
.SHJ_width{
    width: 8rem
}

/*padding*/
.SHJ_padding0{
    padding: 0px !important;
}

.SHJ_padding_top_3rem{
    padding-top: 3rem  !important;
}

.SHJ_padding_top_15rem{
    padding-top: 1.5rem  !important;
}

.SHJ_padding_top0{
    padding-top: 0px !important;
}

.SHJ_padding_bottom0{
    padding-bottom: 0px !important;
}

.SHJ_padding_left_1em{
    padding-left: 1rem !important;
}
.SHJ_padding_right_1em{
    padding-right: 1rem !important;
}


/*margin*/
.SHJ_margin_top_0{
   margin-top: 0 !important;
}

.SHJ_margin_bottom_0{
    margin-bottom: 0 !important;
}

.SHJ_margin_bottom_1rem{
    margin-bottom: 1rem !important;
}

.SHJ_margin_top_1rem{
    margin-top: 1rem !important;
}





/*字体大小*/

.SHJ_font_size_small{
    font-size: 1rem
}

.SHJ_font_size_middle{
    font-size: 1.2rem;
}

.SHJ_font_size_big{
    font-size: 1.5rem;
}

.SHJ_small_icon{
    font-size: 1.2rem !important;
}

.SHJ_big_icon{
    font-size: 2rem !important;
}

.SHJ_edit_icon{
    font-size: 2.5rem;
}

.SHJ_huge_icon{
    font-size: 8rem !important;
}

.SHJ_money_font_size{
    font-size: 3rem !important;
}






/*边框*/
.SHJ_border{
    border-bottom: 1px solid #ccc !important;
}

/*布局*/
.SHJ_display_flex{
    display: flex;
    justify-content: space-around;
}

.SHJ_display_block{
    display: block
}

.SHJ_position_absolute{
    position: absolute;
}

.SHJ_position_relative{
    position: relative;
}

.SHJ_over_flow{
   overflow:  auto;
}

.SHJ_float_right{
    float:  right;
}



/*
颜色
*/

.SHJ_take_away_color{
    color: #5ac8fa !important;
}

.SHJ_diner_in_color{
    color: #ff9500 !important;
}

.SHJ_booking_color{
    color: #4cd964 !important;
}

.SHJ_store_list_color{
    color: #5ac8fa !important;
}

.SHJ_fnancial_management_color{
    color: #ff9500 !important;
}

.SHJ_statistics_color{
    color: #4cd964 !important;
}

.SHJ_font_color{
    color: rgba(0,0,0,.65) !important;
}





/*消除默认样式*/

.list-block ul:before{
    height: 0px;
}

.list-block ul:after{
    height: 0px;
}

.list-block{margin:0}

/*公共样式*/
#login-form{
padding: 2.5rem 0;
}

/*首页样式*/
.new_Number_Container{
    position: relative;
}
.new_Number_Container .new_Number_icon{
    position: absolute;
    right: 0%;
    top: 20%;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    border-radius: 50%;
    background-color: red;
    color: #fff;
    z-index: 1000;
}

/*
验证码
*/
.SHJ_send_code_buttom{
    overflow: inherit !important;
     padding-right: 3rem;
}

/*商品列表*/
.SHJ_good_info{
    display: flex !important;
    flex-direction: column !important;
}

.SHJ_good_info{
    display: flex !important;
    flex-direction: column !important;
}
div .item-inner.SHJ_good_info::after{
    height: 0;
}

/*
分类管理侧边栏
*/

.SHJ_manage_catg{
    position: absolute;
    bottom: 0;
    width: 100%;
}

/*
营业状态管理

*/
.SHJ_border div.item-inner::after{
    height:0px;
}

/*
提现页面
*/
.SHJ_blance{
   font-size: 2rem;
    font-weight: 600;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.SHJ_blance_money{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/*
余额明细
*/

.SHJ_store_name_header{
    font-size: 1.6rem;
    padding: 1rem 0;
}

.SHJ_store_name{
    padding-top: 0;
    font-weight: 600;
}
.SHJ_blance_detail .item-inner::after{
    height: 0;
}

/*
提现到银行卡
*/

.SHJ_delete_moneny_icon{
    position: absolute !important;top: 0rem !important;right: 0 !important;font-size: 2.5rem !important;display: inline-block;padding-right:1rem;
}


/*
关于我们
*/

.SHJ_abosut-us_header{
    padding-top: 3rem;
    font-size: 2rem;
}

.SHJ_abosut-us_link_us{
    padding-top: 3rem;
    font-size: 1.5rem;
}

/*
图片上传
*/

.SHJ_upload_button{
    font-size: 10rem;
}

.SHJ_upload_container{
    border: 1px solid #ccc;
}

.SHJ_upload_input_button{
   display: block;
    height: 10rem;
    width: 10rem;
}

.SHJ_img_container{
    position: relative;
    padding: 10px;
    marigin: 10px;
}

.SHJ_filePicker{
    width: 100px;
    height: 100px;
    padding: 10px;
    box-sizing: border-box;

}

.SHJ_delete_img_button{
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: red;
    right: 0px;
    top: 0px;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
}

#fileImage{
    border: 1px solid red;
    position: relative;
    opacity: 0;
    width: 100px;
    height: 100px;
    display: block;
    background-color: red;
}

/*
添加分类
*/
.SHJ_delete_listStyle{
    list-style: none !important;
}
.SHJ_input_style{
    border:none  !important;
}

/*
订单列表中的电话格式
*/
.SHJ__phone_style{
    width:44px;
    text-align: center
}









